{% extends "base.html" %}
{% load static %}

{% block title %}- Submission Done!{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>
        Submission Done!
    </h1>
    <br />
    <h5>
        {{ app_name }}
    </h5>
    <br />
Your app has been submitted! You'll be notified by email when your app has been approved.
</div>
{% endblock %}
    
